@font-face {
  font-family: "MetroItalic";
  src:
    local("※"),
    url("../font/Metropolis/Metropolis-MediumItalic.woff2") format("woff2"),
    url("../font/Metropolis/Metropolis-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  src:
    local("※"),
    url("../font/Metropolis/Metropolis-Medium.woff2") format("woff2"),
    url("../font/Metropolis/Metropolis-Medium.woff") format("woff");
}

@font-face {
  font-family: "pixel";
  src:
    local("※"),
    url("../font/DungGeunMo/DungGeunMo.woff2") format("woff2"),
    url("../font/DungGeunMo/DungGeunMo.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  src:
    local("※"),
    url("../font/pretendard/Pretendard-Regular.woff") format("woff2"),
    url("../font/pretendard/Pretendard-Regular.woff2") format("woff");
}
